<div class="section-title">
  <h3 class="title">Your Orders</h3>
</div>
<table class="table table-striped">
          <thead>
          <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of products">
            <td>
              <img [src]="p.product.image" alt="{{p.product.name}}" class="img-thumbnail" width="100px">
            </td>
            <td>{{p.product.name}}</td>
            <td>{{p.product.price | currency:'USD'}}</td>
            <td>{{p.quantity}}</td>
            <td>{{p.total | currency:'USD'}}</td>
          </tr>
          <tr class="border-0">
            <td style="border: none;"></td>
          </tr>
          </tbody>
        </table>
